<div id="changeback">
  <h2>Enter a bucket name</h2>
  <form action="/listbucket" method="get">
    <input type="text" name="theBucket">
    <button class="btn btn-info">Get Me the contents</button>
  </form>
</div>
